body {
    margin: 0;
}

#title-bar {
    background-color: #F4D6CC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

#header-title {
    color: #353535;
}

#main-content {
    background-color: #82A6B1;
    height: 80vh;
    width: 100%;
}